<h1>Sound like a L337 H4CK3R in seconds!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Sentence to translate:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
